{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Page d'accueil</h1>
<br>
<img src="{{ asset('images/1.png') }}" alt="" srcset="">
<img src="{{ asset('images/3.png') }}" alt="" srcset="">
{% endblock %}